header {
    height: 50px;
}

#title {
    font-family: serif;
    

}

#cite {
    font-size: small;
}

main {
    float: right;
    width: 85%;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.paragraphs {
    padding-top: 30px;
}

nav {
    font-family: sans-serif;
    font-size: smaller;
}

.sidebar_list {
    background-color: whitesmoke;
    list-style: none;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    width: 15%;
    box-sizing: border-box;
    margin-top: 30px;
    position: absolute;
    height: 125%;
}

#list_item {
    padding-top: 10px;
    font-size: small;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#cat_box {
    outline: 0.5px solid grey;
    float: right;
    background-color: whitesmoke;
    box-sizing: border-box;
    text-align: center;
    display: inline;
    margin-left: 1em;
    width: 206px;
}



#cat_label {
    background-color: darkkhaki;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cat_label2 {
    font-style: italic;
}

#table_text {
    font-size: small;
    font-family: sans-serif;
}

.label {
    color: gray
}

.contents {
    outline: 0.5px solid grey;
    background-color: whitesmoke;
    box-sizing: border-box;
    float: left;
    padding-right: 30px;
    margin-right: 1em;
}


#see_also_list {
    padding-top: 10px;
    clear: both;
    font-size: medium;
    margin-top: 5px;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sidebar_list {
        display: none
    }
}

@media screen and (min-width: 600px) {
    main {
        display: block;
        width: 85%;
    }

    .sidebar_list {
        display: block
    }
}